{{template "base" .}}


{{define "content"}}
<div class="uk-section uk-section-default">
    <div class="uk-container">
        <h1>Home</h1>
        <p>
            This is the home page.
        </p>
    </div>
</div>
{{end}}
