{{template "base" .}}
{{define "content"}}
<main class="uk-container uk-container-small uk-padding uk-padding-small">

    <h1 class="uk-text-center uk-padding-small"><span>Reservar alojamiento</span></h1>


    {{$res := index .Data "reservation"}}

    <form class="uk-grid-small" uk-grid method="POST" action="/reservation">

        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <div class="uk-width-1-2@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                <input class="uk-input uk-form-width-large date-input" type="text" name="arrival_date" id="arrival-date"
                    placeholder="Fecha de entrada" required />
            </article>
        </div>
        <div class="uk-width-1-2@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                <input class="uk-input uk-form-width-large date-input" type="text" name="departure_date" id="departure-date"
                    placeholder="Fecha de salida" required />
            </article>
        </div>

        <input type="text" name="room_id" value="1">



        <div class="uk-width-1-3@s">

            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-width-large {{with .Form.Errors.Get "first_name"}}
                    uk-form-danger{{end}}" id="" type="text" placeholder="Nombre" name="first_name"
                    value="{{$res.FirstName}}" />
            </article>
        </div>


        <div class="uk-width-1-3@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-width-large {{with .Form.Errors.Get "second_name"}}
                    uk-form-danger{{end}}" id="" type="text" placeholder="Primer apellido" name="second_name"
                    value="{{$res.SecondName}}" />
            </article>
        </div>

        <div class="uk-width-1-3@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input uk-form-width-large {{with .Form.Errors.Get "last_name"}} uk-form-danger{{end}}"
                    id="" type="text" placeholder="Segundo apellido" name="last_name" value="{{$res.LastName}}" />
            </article>
        </div>


        <div class="uk-width-1-2@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input uk-form-width-large {{with .Form.Errors.Get "email"}} uk-form-danger {{end}}"
                    id="" type="text" placeholder="Correo electrónico" name="email" value="{{$res.Email}}" />
            </article>
        </div>
        <div class="uk-width-1-2@s">
            <article class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                <input class="uk-input uk-form-width-large {{with .Form.Errors.Get "phone"}} uk-form-danger{{end}}"
                    id="" type="text" placeholder="Teléfono" name="phone" value="{{$res.Phone}}" />
            </article>
        </div>

        <footer class=" uk-align-center uk-padding-small">
            <input type="submit" class="uk-button uk-button-primary" value="Reservar" />
            <input type="reset" class="uk-button uk-button-danger" value="Borrar" />
        </footer>
    </form>


    {{with .Form.Errors.Get "first_name"}}
    <div class="uk-text-danger">{{.}}</div>
    {{end}}
    {{with .Form.Errors.Get "second_name"}}
    <div class="uk-text-danger">{{.}}</div>
    {{end}}
    {{with .Form.Errors.Get "last_name"}}
    <div class="uk-text-danger">{{.}}</div>
    {{end}}
    {{with .Form.Errors.Get "email"}}
    <div class="uk-text-danger">{{.}}</div>
    {{end}}
    {{with .Form.Errors.Get "phone"}}
    <div class="uk-text-danger">{{.}}</div>
    {{end}}



</main>

{{end}}